<<<<<<< Updated upstream
@import "../../src/scss/lib/queries";
@import "../../src/scss/lib/variables";
@import "../../src/scss/lib/mixins";
=======
@use "../../src/scss/lib/queries" as *;
@use "../../src/scss/lib/variables" as *;
@use "../../src/scss/lib/mixins" as *;
>>>>>>> Stashed changes

/* Custom Block Styles
========================================================= */
$class: ".hero-row";

#{$class} {
  &.normal {
    @include for-size(tablet, up, offset) {
      figure {
        margin-left: auto;
      }
    }
  }
  &.reverse {
    @include for-size(tablet, up, offset) {
      .wrapper {
        flex-direction: row-reverse;
      }
      .inner {
        margin-left: auto;
      }
    }
  }

  .wrapper {
    align-items: center;
    // min-height: 100vh;
    gap: 100px;
    @include for-size(tablet) {
      flex-direction: column;
      justify-content: center;
    }
  }

  #{$class}--image {
    @include for-size(tablet-sm, up, offset) {
      flex: 0 1 50%;
    }
    figure {
      max-width: 650px;
    }
  }

  #{$class}--content {
    @include for-size(tablet-sm, up, offset) {
      flex: 0 1 50%;
    }
    .inner {
      max-width: 650px;
    }
  }
}
