@import "../../scss/lib/queries";
@import "../../scss/lib/mixins";

.wp-block-zoll-eyebrow {
  $color: var(--eyebrowColor);
  > span {
    @include font("heading");
    display: inline-block;
    border: 2px solid $color;
    color: $color;
    font-size: rem(15);
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border-radius: 100px;
    background: transparent;
    padding: 10px 18px 10px 18px;
  }
}
