/* Accordions
========================================================= */
.wp-block-kadence-accordion {
}

.kt-blocks-accordion-header {
  cursor: pointer;

  &.kt-accordion-panel-active {
  }
}

.kt-accordion-panel-active {
}

.kt-blocks-accordion-icon-trigger {
  // inflate specificity
  .kt-blocks-accordion-header &::after,
  .kt-blocks-accordion-header &::before {
    width: 15px;
    height: 2px;
    left: 5px;
    top: 11.5px;
    border-radius: 99px;
  }
}

/* Tabs
========================================================= */
.wp-block-kadence-tabs {
  .kt-tab-title.kt-tab-title.kt-tab-title.kt-tab-title {
  }

  .kt-title-item {
  }
}
